* { font-family: "Lucida Grande", "Helvetica", sans-serif; }

body { padding: 15px; }

.section_divider {
  background-image: url(/public/images/section_divider_top_right.png);
  background-repeat: norepeat;
  
}