* {
}

body {
  padding: 50px;
}

thead tr {
  background-color: #ffffcf;
}
thead th {
  cursor: pointer;
}
thead tr i {
  color: #CCCCA6;
  font-size: 120%;
}

td {
  vertical-align: middle;
}

pre.command {
  font-size: 115%;
  /*background-color: #002B36;*/
  /*color: #fff;*/
}

.u {
  text-decoration: underline;
  font-size: 110%;
}

.tab-content {
  padding: 20px 0 20px 0;
}

#footer {
  margin-top: 30px;
}
