<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/public/stylesheets/base.css" type="text/css" rel="stylesheet" media="screen">
    <link href="/public/stylesheets/syntax.css" type="text/css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35179381-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
	  {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
