<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Hopsoft</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300'
          rel='stylesheet' type='text/css'>

    <link href="/public/wisewords/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/wisewords/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/public/wisewords/css/socialicons.css" rel="stylesheet">
    <link href="/public/wisewords/css/glyphicons.css" rel="stylesheet">
    <link href="/public/wisewords/css/halflings.css" rel="stylesheet">
    <link href="/public/wisewords/css/template.css" rel="stylesheet">
    <link href="/public/wisewords/css/colors/color-red.css" rel="stylesheet" id="colorcss">
    <link href="/public/stylesheets/syntax.css" type="text/css" rel="stylesheet" media="screen">

    <script src="/public/wisewords/js/modernizr.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35179381-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>

<div class="container">

  {% include header.html %}
  <h1>{{ page.title }}</h1>
  <div class="muted" style="text-align: center">
    Written by {{page.authors}} on {{page.date | date: "%x"}}
  </div>
  <hr />
  <div class="row main-content">
    <div class="span10 offset1 zone-content">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}

</div>  <!-- End Container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/public/wisewords/js/jquery-1.9.1.js"></script>
<script src="/public/wisewords/js/bootstrap.js"></script>
<script src="/public/wisewords/js/tinynav.js"></script>
<script src="/public/wisewords/js/template.js"></script>

</body>
</html>

